body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


h1{
font-weight: 1200;
text-align: center;
font-size: 300px;
}

h2 {
font-weight: 800;
font-size: 36px;
}

hr {
margin: auto;
width: 40%;
}


h4 {
text-align : center;
}


h3 {
text-align: center;
font-size: 24px;

}
inf {    /* Image Location */
          background-image: url("../IMG/INFO-Jip.png");

          /* Background image is centered vertically and horizontally at all times */
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-color: #464646;
          /* Font Colour */
          color:white;
      }


@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}





#div1 {animation-timing-function: ease;}
     img {
  border-radius: 10px;
  max-width: 80%;
  height: auto;
}
    .text {
        text-align: center;
        width: 100%;
      }
      .text2 {
        text-align: left;
        width: 100%;
      }
      .text3 {
        text-align: right;
        width: 100%;
      }
