@font-face { font-family: Ubuntu; src: url('Fonts/Ubuntu/Ubuntu/Ubuntu-Regular.ttf'); }

body {
  margin: 0;
}
.btn-xl {
width: 100px;
height: 100px;
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card img {
height: 100%;
width: 100%;
}

.img1 {
object-fit: cover;
}



@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}


h1{
font-weight: 1200;
text-align: center;
font-size: 300px;
}

h2 {
font-weight: 800;
font-size: 36px;
}

hr {
margin: auto;
width: 40%;
}


h4 {
text-align : center;
}


h3 {
font-size: 24px;

}



@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}





#div1 {animation-timing-function: ease;}
     img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
    .text {
        text-align: center;
        width: 100%;
      }
      .text2 {
        text-align: left;
        width: 100%;
      }
      .text3 {
        text-align: right;
        width: 100%;
      }
